# Cartelle di build standard di colcon 
build/
install/
log/

# File temporanei di CMake/Build System 
*.cmake
CMakeFiles/
CTestTestfile.cmake
Makefile

# File e cache di Python
__pycache__/
*.pyc
.pytest_cache/

# Cache e file di configurazione di VS Code 
.vscode/c_cpp_properties.json
.vscode/*.log
.vscode/*.db
.vscode/*.browse

# File specifici del tuo sistema operativo (es. macOS)
.DS_Store